@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100vh;
}
body::-webkit-scrollbar {
    width: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 450px){
    main{
        flex-wrap: wrap;
        justify-content: center;
    }
}
input:focus {
    outline: none;
}
.inicios-recientes,.iniciar-sesion{
    width: 40%;
    height: 50vh;
}

.inicios-recientes h1{
    font-family: 'Archivo Black', sans-serif;
    color: blue;
    margin: 0;
}
@media (max-width: 450px){
    .inicios-recientes,.iniciar-sesion{
        width: 90%;
        margin: 0 auto;
    }
    .inicios-recientes{
        margin-top: 50px;
    }
    .inicios-recientes h1{
        text-align: center;
    }
}
.opciones{
    display: flex;
    margin-top: 15px;
    justify-content: start;
}
.cuenta,.agregar{
    width: 30%;
    height: 30vh;
    box-shadow:  0 0 2px 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
@media (max-width: 450px){
    .cuenta,.agregar{
        width: 40%;
        height: 20vh;
    }
}
.cuenta:hover,.agregar:hover{
    box-shadow: 0 0 10px 0;
}
.agregar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregar .fa-plus{
    font-size: 35px;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
@media (max-width: 450px){
    .agregar .fa-plus{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
}
.iniciar-sesion{
    width: 35%;
}
@media (max-width: 450px){
    .iniciar-sesion{
        width: 100%;
        margin-top: -40PX;
    }
}
.iniciar-sesion form{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.372);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
.iniciar-sesion form:hover{
    box-shadow: 0 0 5px 0;
}
.email,.password{
    cursor: pointer;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.372);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}
.email input,.password input{
    cursor: pointer;
    width: 80%;
    border: none;
    padding: 10px;
}
i{
    font-size: 20px;
    margin: 0 10px;
}
.fa-eye-slash{
    display: none;
}
.botones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.botones button{
    width: 90%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}
.botones button[type="reset"]{
    background: red;
    margin-top: 15px;
}
.botones span{
    width: 100%;
    margin: 25px auto;
    border: 1px solid rgba(128, 128, 128, 0.389);
}
.botones button[type="button"]{
    background: rgb(4, 201, 4);
    margin-bottom: 20px;
}
/*
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-grav {
    font-size: 45px;
    margin: .5% 1% 0 2%;
}
@media (max-width: 420px){
    html{
        height: auto;
    }
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .fa-grav{
        font-size: 40px;
    }
}
h1{
    margin-bottom: 0px;
}
@media (max-width: 420px){
    h1{
        font-size: 20px;
        margin-right: 10px;
    }
}
main{
    width: 100%;
    height: auto;
    margin: 5px auto;
}
.bg{
    width: 25%;
    height: 33vh;
    margin: 10% auto;
}
@media (max-width: 420px){
    .bg{
        width: 100%;
        margin: 10% auto;
        display: grid;
        place-items: center;
    }
}
.contenedor{
    margin: 5% auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(191, 198, 198, 0.252);
    padding: 1rem;
}
@media (max-width: 420px){
    .contenedor{
        width: 90%;
        margin: 10% 10%;
        padding: 0;
    }
}
#text {
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: #00cfc8;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 1rem 50px;
    font-family: monospace;
    animation: typing 1s steps(30) infinite, blink-caret 0.75s step-end ease-in-out;
}
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}
.form-container{
    display: none;
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 420px){
    .form-container{
        padding-bottom: 20px;
    }
}
.form-container label{
    width: 100%;
    margin: 0 50px;
    font-weight: 600;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"],input[type="tel"],input[type="email"],input[type="password"]{
    width: 70%;
    margin: 10px 50px;
    padding: .4rem;
    border-radius: 5px;
    color: #00cfc8;
    font: message-box;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 420px){
    .form-container label{
        margin: 0 20px;
    }
    input[type="text"],input[type="tel"],input[type="email"],input[type="password"]{
        margin: 10px 20px;
        width: 85%;
    }
}
input:focus {
    outline: none;
}
input[type="button"]{
    margin: 10px 50px;
    background-color: #000000;
    color: white;
    border: #00cfc8 2px solid;
    padding: 6PX;
    display: flex;
    justify-content: center;
    width: 130PX;
    border-radius: 3px;
    cursor: pointer;
}
@media (max-width:420px){
    input[type="button"]{
        margin: 1rem 20px;
        padding: .6rem;
        width: 150px;
    }
}
#continue-btn{
    float: left;
    margin-right: 20px ;
}
#se-btn{
    float: left;
    margin-left: auto;
}

#rest-btn{
    width: 74%;
}
@media (max-width:420px){
    #continue-btn{
        margin-right: 27px;
    }
    #rest-btn{
        width: 88%;
        margin: auto 20px;
    }
}
.astr{
    width: 30%;
    height: auto;
}

.astr img{
    width: 500px;
    height: 500px;
    position: fixed;
    margin-top: -300px;
}
.tierra{
    width: auto;
    float: right;
}
.tierra img{
    width: 300px;
    margin: -30px auto;
}
@media (max-width: 420px){
    .astr{
        width: 100%;
    }
    .astr img{
        position: relative;
        width: 200px;
        height: auto;
        margin: -2rem -20px;
    }
    .tierra img{
        width: 300px;
        margin:6rem auto;
    }
} */